# Rust build
/target

# C/Rust extensions
*.so

# Python
__pycache__/
.pytest_cache/
.ruff_cache

.venv/
error.json

# logs
bloodbowl.log

# NN
python/nn/value_network/artifacts
python/nn/requirements.txt
artifacts/
data/
exports/
